<div class="jumbotron">
	<% if signed_in? -%>
		<h1>Welcome back!</h1>
	<% else -%>
		<h1>Welcome.</h1>
		<p>Please sign in to access and update routes, or create an account to gain access.</p>
	<% end -%>
</div>
