<title >Boy Scouts Flag Delivery | Home</title>

<h1 class="test"  id="1254" style="padding-left: 15px" >Boy Scouts Flag Delivery | Home</h1>

<div class="jumbotron">
	<% if signed_in? -%>
		<h1>Welcome back!</h1>
	<% else -%>
		<h1>Welcome.</h1>
		<p>Please login to access and update routes.</p>
	<% end -%>
</div>
