.sidebar-button {
  display: none;
}

@media only screen and (max-width: 768px) {
  .sidebar-nav {
    width: 0 !important;
    padding: 0 !important;
    //left: -100px;
    transition:         width 500ms ease;
    -moz-transition:    width 500ms ease;
    -ms-transition:     width 500ms ease;
    -o-transition:      width 500ms ease;
    -webkit-transition: width 500ms ease;
  }
  .toggle-nav {
    width: 150px !important;
    padding: 9px !important;
    transition:         width 500ms ease;
    -moz-transition:    width 500ms ease;
    -ms-transition:     width 500ms ease;
    -o-transition:      width 500ms ease;
    -webkit-transition: width 500ms ease;
  }
  .admin-header {
    margin-left: 40px !important;
  }
  #sidebar-button {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 30px;
    display: block;
    z-index: 100000;
  }
  .table th {
    display: none;
  }
  .table td {
    display: block;
    margin-left: 10%;
  }
}