.sidebar-button {
  display: none;
}

@media only screen and (max-width: 768px) {
  /*
      SIDE NAV BAR STYLING
  */

  .sidebar-nav {
    width: 0 !important;
    padding: 0 !important;
    //left: -100px;
    transition: width 500ms ease;
    -moz-transition: width 500ms ease;
    -ms-transition: width 500ms ease;
    -o-transition: width 500ms ease;
    -webkit-transition: width 500ms ease;
  }
  .toggle-nav {
    width: 150px !important;
    padding: 9px !important;
    transition: width 500ms ease;
    -moz-transition: width 500ms ease;
    -ms-transition: width 500ms ease;
    -o-transition: width 500ms ease;
    -webkit-transition: width 500ms ease;
  }
  .admin-header {
    margin-left: 40px !important;
  }
  #sidebar-button {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 30px;
    display: block;
    z-index: 100000;
  }

  /*
      TABLE STYLING
  */

  .table thead tr {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  .table tr {
    border: 1px solid #ccc !important;
  }
  .table table, .table thead, .table tbody,
  .table th, .table td, .table tr {
    display: block !important;
  }
  .table td {
    /* Behave  like a "row" */
    border: none !important;
    border-bottom: 1px solid #eee !important;
    position: relative !important;
    padding-left: 200px !important;
    overflow: visible !important;
    max-width: none !important;
  }
  .table td:before {
    /* Now like a table header */
    position: absolute !important;
    /* Top/left values mimic padding */
    top: 6px !important;
    left: 6px !important;
    width: 150px !important;
    padding-right: 10px !important;
    white-space: nowrap !important;
  }
  td:nth-of-type(1):before { content: attr(data-header); }
  td:nth-of-type(2):before { content: attr(data-header); }
  td:nth-of-type(3):before { content: attr(data-header); }
  td:nth-of-type(4):before { content: attr(data-header); }
  td:nth-of-type(5):before { content: attr(data-header); }
  td:nth-of-type(6):before { content: attr(data-header); }
  td:nth-of-type(7):before { content: attr(data-header); }
  td:nth-of-type(8):before { content: attr(data-header); }
  td:nth-of-type(9):before { content: attr(data-header); }
  td:nth-of-type(10):before { content: attr(data-header); }

/* This is to keep the Export found Routes button from mashing itself against the Refresh button */
  .btn.btn-info {
    margin-top: -54px;
  }

/* This pads the content so that it is not mashed against the side of the mobile screen */
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }

/* This keeps the EfR button in the same visual div as the Refresh button */
  .input-group {
    padding-bottom: 57px;
  }

/* Centers the title of the data you are looking at when in mobile view */
  .page-header h1 {
    text-align: center;
  }
}

/* This drops the title of the data down more when the nav bar at the top needs more room */
@media only screen and (max-width: 364px) {
  .page-header{
    margin-top: 69px;
  }
}