<h1>Routes#view_route</h1>
<p>Find me in app/views/routes/view_route.html.erb</p>

<div id="group routes">
	<% if @routes.size == 0 %>
		<h3>This Troop Has No Routes</h3>
	<% else %>
		<h3> Viewing routes for: </h3>
		<h4><%= @group.name %></h4> <!-- This is not working for some reason, look at app/controllers/routes_controller.rb -->
		<% @routes.each do |route| %>
			<a name="group_<%= @group.name %>"> </a>
			<div class="route">
				<div class="route-header">
				<h3> Route: <%= route.name %></h3>
				</div>
			</div>
		<% end %>
	<% end %>
</div>