// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hide-unless-run{

}

#route-header{
  margin: 5em 3em 5em 3em;
}

#route-header div button{
  margin-top:1.5em;
  margin-left:1em;
}

#route-content{
  margin-left:5%;
}

#route-name{
  font-size: 4em;
}

.subscriber.row {
  padding-bottom: 1.5em;
}