// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hide-unless-run{

}

#route-header{
  margin: 5em 3em 5em 3em;
}

#route-header div button{
  margin-top:1.5em;
  margin-left:1em;
}

#route-content{
  margin-left:5%;
}

#route-name{
  font-size: 4em;
}

.subscriber.row {
  padding-bottom: 1.5em;
}

.gmap {
  width: 800px;
}

.save-marker{
  width: 145px;
  height: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 6px;
}

@media only screen and (max-width: 768px) {
  .gmap {
    width: 95%;
  }
  .gmap #map {
    width: 100% !important;
  }
}